#image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#dishInfo{
  display: block;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#comments{
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    }